# Python bytecode fayllari
__pycache__/
*.py[cod]
*.pyo

# Django migratsiya fayllari
*/migrations/
!*/migrations/__init__.py

# Statik va media fayllar
*/staticfiles/
*/media/

# Secret fayllar
.env

# Django loglari
*.log
*.sqlite3
debug.log

# Virtual environment
venv/
env/
.venv/
.env/

# IDE va kod muharrir sozlamalari
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific fayllar
.DS_Store
Thumbs.db

# Node.js uchun (agar frontend birgalikda ishlatilsa)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker fayllari
*.pid
*.swp
